.app {
    text-align: center;
    margin-top: 50px;
  }

  .dialog-title {
    background-color: #64b5f6;
    color: #fff;
    text-align: center;
  }

  .question-section {
    margin-bottom: 20px;
  }

  .answer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .radio-label {
    margin: 10px;
    font-size: 18px;
    color: #424242;
  }

  .radio-button {
    color: #64b5f6;
  }

  .score-section {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .button-container {
    margin-top: 20px;
  }

  .restart-button {
    background-color: #64b5f6;
    color: #fff;
  }